/code/strv3
*.pyc
/milvus
/testing
/c3
.DS_Store
c4/html/site_type.xml~
c4/html/US_County.csv
c4/html/Washington_County.csv
code/scrapper/List_of_science_fiction_films_of_the_2020s.json
code/scrapper/temp.py
code/scrapper/eventbrite_all_urls.txt
code/scrapper/\#test_answer.js\#
code/scrapper/zillow_bay_area_schema.txt
code/scrapper/zillow_bay_area_schemas.py
code/scrapper/zillow_LAH_schemas.tx
code/scrapper/zillow_rental_urls.txt
code/scrapper/zillow_sale_urls.txt
code/scrapper/zillow_schemas.txt
code/streaming/milvus_large.db
code/scrapper/zillow_test.txt
code/streaming/milvus_small.db
code/streaming/milvus_prod.db
code/strv2/.milvus_prod.db.lock
*.pyc
code/strv2/acs.py
*.pyc
*.csv
*.db
*.log
